{% load static from staticfiles %}
<footer>
{#    <script type="text/javascript"#}
{#            src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.3/js/tether.min.js"></script>#}
{#    <script type="text/javascript"#}
{#            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>#}
{#    <script type="text/javascript" src="{% static 'patents/scripts/underscore-min.js' %}"></script>#}
{#    <script type="text/javascript"#}
{#            src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/js/mdb.min.js"></script>#}
{##}
{#    <script src="{% static 'patents/scripts/jquery.auto-complete.js' %}"></script>#}
{#    <script src="{% static 'patents/scripts/sharecode.js' %}"></script>#}
</footer>