{% load static from staticfiles %}

<div class="navbar navbar-static-top" role="navigation" style="background:#f7f7f7">
    <div class="navbar-header">
        <div class="cs-logo">
            <a class="navbar-brand navbar-menu-left float-left" rel="home" href="/">
                <img src="{% static 'patents/images/patent.PNG' %}" alt="Patent" style="width:100px">
            </a>
        </div>
        <div class="cs-search">
            <form class="navbar-form waves-effect waves-light" role="search" action="/search" method="get">
                <div class="input-group" style="">
                    <div class="input-group">
                        <input id="search-term" class="input-alternate" name="q" autocomplete="off">
                        <button type="submit" class="input-group-addon"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>

        {% include 'patents/includes/navbar_login_logout.html' %}
        {#        <div class="navbar-brand navbar-menu-right float-right">#}
        {#            <div class="tt-m float-right">#}
        {#                <div class="tt-ab float-left">#}
        {#                    <!--sharecode/components/apps-box.html-->#}
        {#                </div>#}
        {#                <div class="tt-ab float-left">#}
        {##}
        {#                    <button type="button" data-toggle="modal" data-target="#login-form"#}
        {#                            class="btn btn-blue-grey cs-btn-singin waves-effect waves-light" style="margin-top:0px">#}
        {#                        <span class="btn-signin-text">Đăng Nhập</span>#}
        {#                        <i class="fa fa-sign-in mr-1 btn-signin-icon" style="font-size:25px;"></i>#}
        {#                    </button>#}
        {##}
        {##}
        {#                    <div class="modal fade cs-login-form" id="login-form" role="dialog">#}
        {#                        <div class="modal-dialog">#}
        {##}
        {#                            <div class="modal-header" style="background: #fff">#}
        {#                                <h5 class="modal-title" id="exampleModalLabel"></h5>#}
        {#                                <button type="button" class="close float-right" data-dismiss="modal">×</button>#}
        {#                            </div>#}
        {#                            <!-- Modal content-->#}
        {#                            <div class="modal-content">#}
        {#                                <div class="modal-body">#}
        {##}
        {#                                    <div class="row">#}
        {#                                        <form class="contact_form col-md-6 col-sm-12 waves-effect waves-light"#}
        {#                                              action="/login" method="post" name="contact_form">#}
        {#                                            <input type="hidden" name="csrfmiddlewaretoken"#}
        {#                                                   value="LEQCKiqXqLKKI0MZOkxBpHKwo5jWig1Onv1H0RNsLjQpeQizYz4QukI7A53GTCFJ">#}
        {#                                            <ul>#}
        {#                                                <li>#}
        {#                                                    <input type="text" class="textbox1 form-control" name="id_username"#}
        {#                                                           required="" placeholder="Tài khoản">#}
        {#                                                    <p class="icon"><i class="fa fa-user-o" aria-hidden="true"></i></p>#}
        {#                                                </li>#}
        {#                                                <li>#}
        {#                                                    <input type="password" name="id_password" class="textbox2"#}
        {#                                                           placeholder="Mật khẩu">#}
        {#                                                    <p class="icon"><i class="fa fa-lock" aria-hidden="true"></i></p>#}
        {#                                                </li>#}
        {#                                            </ul>#}
        {#                                            <div class="forgot">#}
        {#                                            </div>#}
        {#                                            <input type="submit" name="Sign In" value="ĐĂNG NHẬP">#}
        {#                                            <div class="clear"></div>#}
        {#                                        </form>#}
        {#                                        <div class="account col-md-6 col-sm-12">#}
        {#                                            <div class="span icon-facebook">#}
        {#                                                <a href="/accounts/facebook/login/">#}
        {#                                                    <img src="/static/images/sharecode/facebook.png" alt="">#}
        {#                                                    <div class="text">Đăng nhập với Facebook</div>#}
        {#                                                </a>#}
        {#                                            </div>#}
        {#                                            <div class="span icon-google">#}
        {#                                                <a href="/accounts/google/login/">#}
        {#                                                    <img src="/static/images/sharecode/gplus.png" alt="">#}
        {#                                                    <div class="text">Đăng nhập với Google+</div>#}
        {#                                                </a>#}
        {#                                            </div>#}
        {#                                        </div>#}
        {#                                    </div>#}
        {#                                </div>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                    </div>#}
        {##}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}
    </div>


{#    <style>#}
{#        .dropdown-menu .checkbox {#}
{#            padding-left: 5px;#}
{#            width: 100%;#}
{#        }#}
{##}
{#        .tt-nav-filter .input-group {#}
{#            margin: 0px;#}
{#        }#}
{##}
{#        .tt-nav-filter input.form-control.multiselect-search {#}
{#            padding: 0;#}
{#            margin: 0;#}
{#        }#}
{##}
{#        .tt-nav-filter ul.multiselect-container.dropdown-menu {#}
{#            margin-top: 5px;#}
{#        }#}
{#    </style>#}
{##}
{##}
{#    <div class="navbar-filter tt-nav-filter">#}
{##}
{#        <input type="text" id="tt-urlencode" value="q=hello" style="display: none;">#}
{##}
{##}
{#        <span class="multiselect-native-select"><select id="example-order" multiple="multiple">#}
{#            <optgroup label="Tất cả" selected="selected">#}
{##}
{#                    <option value="166"> C++</option>#}
{##}
{#                    <option value="388"> C</option>#}
{##}
{#            </optgroup>#}
{#        </select><div class="btn-group"><button type="button"#}
{#                                                class="multiselect dropdown-toggle btn btn-elegant text-capitalize"#}
{#                                                data-toggle="dropdown" title="Ngôn ngữ"><span#}
{#                class="multiselect-selected-text">Ngôn ngữ</span> <b class="caret"></b></button><ul#}
{#                class="multiselect-container dropdown-menu"><li class="multiselect-item multiselect-group"><a#}
{#                href="javascript:void(0);"><label><input type="checkbox"#}
{#                                                         value="undefined"><b> Tất cả</b></label></a></li><li><a#}
{#                tabindex="0"><label class="checkbox"><input type="checkbox" value="166">  C++</label></a></li><li><a#}
{#                tabindex="0"><label class="checkbox"><input type="checkbox" value="388">  C</label></a></li></ul></div></span>#}
{#        <button id="example-order-button" class="btn btn-primary text-capitalize waves-effect waves-light">Lọc</button>#}
{##}
{#        <!--#}
{##}
{#            <div class="btn-group">#}
{#                    <button class="btn btn-elegant dropdown-toggle waves-effect waves-light" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                        Ngôn ngữ#}
{#                    </button>#}
{#                    <div class="dropdown-menu">#}
{##}
{##}
{#                            <div class="checkbox">#}
{#                                <input type="checkbox" name="checkbox"> C++#}
{#                            </div>#}
{##}
{#                            <div class="checkbox">#}
{#                                <input type="checkbox" name="checkbox"> C#}
{#                            </div>#}
{##}
{#                            <div class="checkbox">#}
{#                                <input type="checkbox" name="checkbox"> Tất cả#}
{#                            </div>#}
{##}
{#                    </div>#}
{#            </div>#}
{##}
{##}
{#            <div class="btn-group">#}
{#                <button class="btn btn-elegant dropdown-toggle waves-effect waves-light" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                    Category#}
{#                </button>#}
{#                <div class="dropdown-menu">#}
{##}
{##}
{#                            <a class="dropdown-item" href="?cat=Algorithms&amp;q=hello">Algorithms</a>#}
{##}
{#                            <a class="dropdown-item" href="?cat=Sorting&amp;q=hello">Sorting</a>#}
{##}
{#                            <a class="dropdown-item" href="?cat=Data Structures&amp;q=hello">Data Structures</a>#}
{##}
{#                            <a class="dropdown-item" href="?cat=Programming Language&amp;q=hello">Programming Language</a>#}
{##}
{#                        <a class="dropdown-item" href="?cat=&amp;q=hello">All</a>#}
{##}
{#                </div>#}
{#            </div>#}
{#         -->#}
{#    </div>#}
{#    <!-- Initialize the plugin: -->#}
{##}
{#    <script type="text/javascript">#}
{#        $(document).ready(function () {#}
{#            var orderCount = 0;#}
{#            $('#example-order').multiselect({#}
{#                enableClickableOptGroups: true,#}
{#                nonSelectedText: 'Ngôn ngữ',#}
{#                buttonClass: 'btn btn-elegant text-capitalize',#}
{#                // enableFiltering: true,#}
{#                // filterBehavior: 'value',#}
{#                onChange: function (option, checked) {#}
{#                    if (checked) {#}
{#                        orderCount++;#}
{#                        $(option).data('order', orderCount);#}
{#                    }#}
{#                    else {#}
{#                        $(option).data('order', '');#}
{#                    }#}
{#                },#}
{#                buttonText: function (options) {#}
{#                    if (options.length === 0) {#}
{#                        return 'Ngôn ngữ';#}
{#                    }#}
{#                    else if (options.length > 3) {#}
{#                        return options.length + ' selected';#}
{#                    }#}
{#                    else {#}
{#                        var selected = [];#}
{#                        options.each(function () {#}
{#                            selected.push([$(this).text(), $(this).data('order')]);#}
{#                        });#}
{##}
{#                        selected.sort(function (a, b) {#}
{#                            return a[1] - b[1];#}
{#                        });#}
{##}
{#                        var text = '';#}
{#                        for (var i = 0; i < selected.length; i++) {#}
{#                            text += selected[i][0] + ', ';#}
{#                        }#}
{##}
{#                        return text.substr(0, text.length - 2);#}
{#                    }#}
{#                },#}
{#            });#}
{##}
{#            $('#example-order-button').on('click', function () {#}
{#                var selected = [];#}
{#                $('#example-order option:selected').each(function () {#}
{#                    selected.push([$(this).val(), $(this).data('order')]);#}
{#                });#}
{##}
{#                selected.sort(function (a, b) {#}
{#                    return a[1] - b[1];#}
{#                });#}
{#                var params = _.map(selected, function (select) {#}
{#                    return '&lang=' + select[0]#}
{#                });#}
{#                var urlencode = $('#tt-urlencode').val();#}
{#                var url = relative_url('lang', params, urlencode);#}
{#                window.location = url;#}
{#            });#}
{#        });#}
{##}
{#        function relative_url(field_name, values, urlencode) {#}
{#            var url = _.reduce(values, function (memo, num) {#}
{#                return memo + num;#}
{#            }, '');#}
{#            if (urlencode) {#}
{#                var querystring = urlencode.split('&')#}
{##}
{#                var filtered_querystring = _.filter(querystring, function (filter) {#}
{#                    if (filter.split('=')[0] != field_name) {#}
{#                        return filter;#}
{#                    }#}
{#                });#}
{##}
{#                var query_first = '?' + _.first(filtered_querystring);#}
{#                var encoded_filtered_querystring = _.map(filtered_querystring.slice(1), function (filter) {#}
{#                    return '&' + filter;#}
{#                });#}
{##}
{#                var encoded_querystring = _.reduce(encoded_filtered_querystring, function (memo, num) {#}
{#                    return memo + num;#}
{#                }, '');#}
{#            }#}
{#            url = query_first + url + encoded_querystring;#}
{#            return url;#}
{#        }#}
{#    </script>#}
</div>