{% load app_filters %}
{% comment %}
    Rating summarize section
{% endcomment %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            {#                <div class="well well-sm">#}
            <div class="card card-block bg-faded">
                <div class="row">
                    <div class="col-xs-12 col-md-6 text-center">
                        <h1 class="rating-num" id="rate-avg">{{ rate_avg }}</h1>
                        {% if request.session.user_id %}
                            <div id="reviewStars-input">
                                <div class="reviewStars-group">
                                    {% for title in rate_titles reversed %}
                                        <input id="star-{{ forloop.revcounter0 }}"
                                               type="radio"
                                               name="reviewStars"
                                               value="{{ forloop.revcounter }}"
                                                {% if user_rating == forloop.revcounter %}
                                               checked="checked"{% endif %}/>
                                        <label title="{{ title }}" for="star-{{ forloop.revcounter0 }}"></label>
                                    {% endfor %}
                                </div>

                                <input type="hidden" name="pid" value="{{ patent.id }}">
                            </div>
                        {% endif %}
                        <div id="rate-times">
                            <span class="fa fa-user"></span>{{ patent|rate_times|number_with_commas }} total
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="row rating-desc">
                            <div class="col-xs-3 col-md-3 text-right">
                                <span class="fa fa-star"></span>5
                            </div>
                            <div class="col-xs-8 col-md-9">
                                <div class="progress">
                                    <div class="progress-bar bg-success progress-bar-striped" role="progressbar"
                                         aria-valuenow="20"
                                         aria-valuemin="0" aria-valuemax="100"
                                         style="width: {{ rate_count|get_progress_width:5 }}%">
                                        <span class="sr-only">{{ rate_count|get_progress_width:5 }}%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- end 5 -->
                            <div class="col-xs-3 col-md-3 text-right">
                                <span class="fa fa-star"></span>4
                            </div>
                            <div class="col-xs-8 col-md-9">
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar"
                                         aria-valuenow="20"
                                         aria-valuemin="0" aria-valuemax="100"
                                         style="width: {{ rate_count|get_progress_width:4 }}%">
                                        <span class="sr-only">{{ rate_count|get_progress_width:4 }}%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- end 4 -->
                            <div class="col-xs-3 col-md-3 text-right">
                                <span class="fa fa-star"></span>3
                            </div>
                            <div class="col-xs-8 col-md-9">
                                <div class="progress">
                                    <div class="progress-bar bg-info" role="progressbar"
                                         aria-valuenow="20"
                                         aria-valuemin="0" aria-valuemax="100"
                                         style="width: {{ rate_count|get_progress_width:3 }}%">
                                        <span class="sr-only">{{ rate_count|get_progress_width:3 }}%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- end 3 -->
                            <div class="col-xs-3 col-md-3 text-right">
                                <span class="fa fa-star"></span>2
                            </div>
                            <div class="col-xs-8 col-md-9">
                                <div class="progress">
                                    <div class="progress-bar bg-warning" role="progressbar"
                                         aria-valuenow="20"
                                         aria-valuemin="0" aria-valuemax="100"
                                         style="width: {{ rate_count|get_progress_width:2 }}%">
                                        <span class="sr-only">{{ rate_count|get_progress_width:2 }}%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- end 2 -->
                            <div class="col-xs-3 col-md-3 text-right">
                                <span class="fa fa-star"></span>1
                            </div>
                            <div class="col-xs-8 col-md-9">
                                <div class="progress">
                                    <div class="progress-bar bg-danger" role="progressbar"
                                         aria-valuenow="80"
                                         aria-valuemin="0" aria-valuemax="100"
                                         style="width: {{ rate_count|get_progress_width:1 }}%">
                                        <span class="sr-only">{{ rate_count|get_progress_width:1 }}%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- end 1 -->
                        </div>
                        <!-- end row -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
