/* login form :: s :: account/login.html*/
.cs-btn-singin {
    margin-top: 0px;
}

.contact_form {
    float: left;
    position: relative;
    height: auto;
    margin: 0px;
}

@media only screen and (max-width: 767px) {
    .contact_form {
        border-bottom: 1px solid #78909c;
        padding-bottom: 15px;
        max-width: 90%;
        margin: auto;
    }
}

@media only screen and (min-width: 768px) {
    .contact_form {
        padding-bottom: 10px;
        border-right: 1px solid #78909c;
    }
}

.contact_form .icon {
    width: 48px;
    height: 48px;
    float: left;
    margin: 0px;
    text-align: center;
    color: #fff;
    background: silver;
}

.contact-form .icon img {
    width: 100%;
    height: 100%;
}

.contact_form ul {
    list-style-type: none;
    list-style-position: outside;
    margin: 0px;
    padding: 0px;
}

.contact_form li {
    position: relative;
}

/* form element visual styles */
.contact_form li {
    float: left;
    outline: none;
    border-left: 1px solid #DDDDDD;
    font-size: 1.2em;
    color: #B6B6B6;
    width: 100%;
    font-weight: 600;
    margin-top: 2%;
    position: relative;
    height: 48px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .2), 0 0 0 1px rgba(0, 0, 0, .08) !important;
    border-bottom: 0;
}

.contact_form li:hover {
    color: #546973;
}

.contact_form input {
    float: left;
    font-size: 14px;
    padding: 14px 14px;
    width: calc(100% - 86px);
    border: none;
    outline: none;
    color: #B6B6B6;
}

.contact_form p {
    cursor: pointer;
}

.contact_form input[type="submit"] {
    border: none;
    height: auto;
    outline: none;
    cursor: pointer;
    color: #fff;
    background: #546973;
    width: 100%;
    line-height: 1em;
    font-size: 17px;
    letter-spacing: 1px;
    margin: 4px 0 0;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
}

.contact_form input[type="submit"]:hover {
    background: #78909c;
}

.contact_form input[type="checkbox"] {
    width: 21px;
    vertical-align: middle;
    padding: 5px;
    float: left;
}

.contact_form i {
    line-height: 48px;
}

.forgot {
    float: right;
    width: auto;
    margin-top: 4px;
}

.forgot a {
    font-size: 15px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
}

.forgot a:hover {
    color: #546973;
}

/*start-account*/
.account {
    float: right;
}

@media only screen and (max-width: 768px) {
    .account {
        padding: 15px;
        max-width: 90%;
        margin: auto;
    }
}

.account .span {
    margin-top: 2%;
    display: block;
    width: 100%;
    background: #3B5998;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
}

.account .span .text {
    float: left;
    height: 46px;
    line-height: 46px;
    font-size: 20px;
    padding-left: 5px;
    width: calc(100% - 46px);
    color: #fff;
}

.account .icon-facebook {
    background: #3B5998;
}

.account .icon-facebook:hover {
    background: #354F88;
}

.account .icon-facebook img {
    background: #354F88;
    padding: 7px;
    float: left;
}

.account .icon-google {
    background: #DE4C34;
}

.account .icon-google img {
    background: #CE3E26;
    padding: 7px;
    float: left;
}

.account .icon-google:hover {
    background: #CE3E26;
}

.icon-facebook, .icon-google {
    float: left;
    font-family: 'Rokkitt', serif;
}

input.textbox1,
input.textbox2 {
    border-bottom: 0px !important;
    box-shadow: none !important;
}

.navbar form input {
    height: 10px;
    margin: 5px;
}

/* login form :: e :: account/login.html*/

/* profile :: s :: account/profile.html*/
.cs-arrow1, .cs-arrow2 {
    border-color: transparent;
    border-style: dashed dashed solid;
    border-width: 0 8.5px 8.5px;
    z-index: 999;
    height: 0;
    width: 0;
    position: absolute;
    right: 11px;
}

.cs-arrow1 {
    display: none;
    border-bottom-color: #fff;
    top: 43px;
}

.cs-arrow2 {
    display: none;
    border-bottom-color: #ccc;
    border-bottom-color: rgba(0, 0, 0, .2);
    top: 42px;
}

.group-account {
    position: absolute;
    z-index: 998;
    display: none;
}

/* profile :: s :: account/profile.html*/

.animated {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.hinges {
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -o-animation-duration: 2s;
    animation-duration: 2s;
}

.animated.slow {
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    -o-animation-duration: 3s;
    animation-duration: 3s;
}

.animated.snail {
    -webkit-animation-duration: 4s;
    -moz-animation-duration: 4s;
    -o-animation-duration: 4s;
    animation-duration: 4s;
}

@-webkit-keyframes shake {
    0%, 100% {
        -webkit-transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translateX(10px);
    }
}

@-moz-keyframes shake {
    0%, 100% {
        -moz-transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        -moz-transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        -moz-transform: translateX(10px);
    }
}

@-o-keyframes shake {
    0%, 100% {
        -o-transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        -o-transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        -o-transform: translateX(10px);
    }
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(10px);
    }
}

.shake {
    -webkit-animation-name: shake;
    -moz-animation-name: shake;
    -o-animation-name: shake;
    animation-name: shake;
}

.login .modal-dialog {
    width: 350px;
}

.login .modal-footer {
    border-top: 0;
    margin-top: 0px;
    padding: 10px 20px 20px;
}

.login .modal-header {
    border: 0 none;
    padding: 15px 15px 15px;
    /*     padding: 11px 15px; */
}

.login .modal-body {
    /*     background-color: #eeeeee; */
}

.login .division {
    float: none;
    margin: 0 auto 18px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}

.login .division .line {
    border-top: 1px solid #DFDFDF;
    position: absolute;
    top: 10px;
    width: 34%;
}

.login .division .line.l {
    left: 0;
}

.login .division .line.r {
    right: 0;
}

.login .division span {
    color: #424242;
    font-size: 17px;
}

.login .box .social {
    float: none;
    margin: 0 auto 30px;
    text-align: center;
}

.login .social .circle {
    background-color: #EEEEEE;
    color: #FFFFFF;
    border-radius: 100px;
    display: inline-block;
    margin: 0 17px;
    padding: 15px;
}

.login .social .circle .fa {
    font-size: 16px;
}

.login .social .facebook {
    background-color: #455CA8;
    color: #FFFFFF;
}

.login .social .google {
    background-color: #F74933;
}

.login .social .github {
    background-color: #403A3A;
}

.login .facebook:hover {
    background-color: #6E83CD;
}

.login .google:hover {
    background-color: #FF7566;
}

.login .github:hover {
    background-color: #4D4D4d;;
}

.login .forgot {
    color: #797979;
    margin-left: 0;
    overflow: hidden;
    text-align: center;
    width: 100%;
}

.login .btn-login, .registerBox .btn-register {
    background-color: #00BBFF;
    border-color: #00BBFF;
    border-width: 0;
    color: #FFFFFF;
    display: block;
    margin: 0 auto;
    padding: 15px 50px;
    text-transform: uppercase;
    width: 100%;
}

.login .btn-login:hover, .registerBox .btn-register:hover {
    background-color: #00A4E4;
    color: #FFFFFF;
}

.login .form-control {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.09);
    box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.09) inset;
    color: #FFFFFF;
}

.login .form-control:hover {
    background-color: rgba(0, 0, 0, .16);
}

.login .form-control:focus {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04) inset;
    background-color: rgba(0, 0, 0, 0.23);
    color: #FFFFFF;
}

.login .box .form input[type="text"], .login .box .form input[type="password"] {
    border-radius: 3px;
    border: none;
    color: #333333;
    font-size: 16px;
    height: 46px;
    margin-bottom: 5px;
    padding: 13px 12px;
    width: 100%;
}

@media (max-width: 400px) {
    .login .modal-dialog {
        width: 100%;
    }
}

.big-login, .big-register {
    background-color: #00bbff;
    color: #FFFFFF;
    border-radius: 7px;
    border-width: 2px;
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    padding: 16px 60px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}

.big-login:hover {
    background-color: #00A4E4;
    color: #FFFFFF;
}

.big-register {
    background-color: rgba(0, 0, 0, .0);
    color: #00bbff;
    border-color: #00bbff;
}

.big-register:hover {
    border-color: #00A4E4;
    color: #00A4E4;
}