{% load app_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">#}
    {#    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>#}
    {#    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"#}
    {#            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"#}
    {#            crossorigin="anonymous"></script>#}
    {% load static from staticfiles %}
    <link rel="icon" href="{% static 'patents/images/favicon.png' %}" sizes="24x24" type="image/png">
    <link rel="stylesheet" type="text/css"
          href="{% static 'bower_components/components-font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css">

    <script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/tether/dist/js/tether.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    {% block head %}
    {% endblock %}
</head>
<body onload="OnLoading()">
<div id="loader"></div>
<div id="wrapper-body" style="display: block;">
    {% block nav %}
    {% endblock %}

    {% block body %}
    {% endblock %}

    {#    {% include 'patents/includes/footer.html' %}#}
</div>
<script type="text/javascript">
    function OnLoading() {
        document.getElementById("loader").style.display = "none";
        document.getElementById("wrapper-body").style.display = "block";
    }
</script>
</body>
</html>