{% extends 'patents/base.html' %}

{% block head %}
    <title>Patent searching</title>
    {% load static from staticfiles %}
    {#    <script type="text/javascript" src="{% static 'patents/scripts/bootstrap-multiselect.js' %}"></script>#}
    <link rel="stylesheet" href="{% static 'patents/styles/base.css' %}">
    <link rel="stylesheet" href="{% static 'patents/styles/sharecode.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'patents/styles/logo.css' %}">
    <script type="text/javascript" src="{% static 'patents/scripts/search.js' %}" async></script>
{% endblock %}

{% block nav %}
    {% include 'patents/includes/navbar.html' %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3" style="padding-top:120px">
                <div class="cs-group text-center">
                    <h1 class="logo">Patent</h1>
                </div>
                <div class="cs-group text-center">
                    <form action="{% url 'patents:search' %}" method="get">
                        <div class="form-group">
                            <div class="md-form">
                                <input id="search-term" autofocus="" type="text"
                                       class="input-alternate ttuni-search"
                                       name="q">
                            </div>
                            <button type="submit" class="btn btn-blue-grey waves-effect waves-light">Tìm kiếm mã
                                nguồn
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

