{% extends 'patents/base.html' %}
{% block body %}
    <h1>List patents</h1>
    <form action="{% url 'patents:search' %}" method="get">
        <input type="text" name="q" id="q">
        <input type="submit" value="Search">
    </form>
    <br>
    <div>
        <form action="{% url 'patents:account_create' %}" method="post">
            {% csrf_token %}
            <input type="text" name="username" id="username">
            <input type="password" name="password" id="password">
            <input type="submit" value="Create">
        </form>
    </div>
    <br>
    <div>
        {% if request.session.user_id %}
            <form action="{% url 'patents:account_logout' %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Logout">
            </form>
        {% else %}
            <form action="{% url 'patents:account_login' %}" method="post">
                {% csrf_token %}
                <input type="text" name="username" id="username">
                <input type="password" name="password" id="password">
                <input type="submit" value="Login">
            </form>
        {% endif %}
    </div>
    <br>

    {% if patents %}
        <h1>Search time {{ time }}</h1>
        {% for patent in patents %}
            <div class="patent-item">
                <h2>{{ patent.title }}</h2>
                <p>{{ patent.abstract }}</p>
                <a href="{% url 'patents:show' patent.id %}">View detail</a>
                <br>
            </div>
            <hr>
        {% endfor %}
    {% endif %}
{% endblock %}