{% extends 'patents/base.html' %}
{% load app_filters %}
{% block head %}
    {% load static from staticfiles %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'bower_components/components-font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
    {#    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap-3.3.7/dist/css/' %}">#}
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css">

    <script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/tether/dist/js/tether.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'patents/styles/base.css' %}">
    <link rel="stylesheet" href="{% static 'patents/styles/sharecode.css' %}">
    {#    <link rel="stylesheet" type="text/css"#}
    {#          href="{% static 'bower_components/bootstrap-3.3.7/dist/css/bootstrap.min.css' %}">#}
    {#    <script type="text/javascript" src="{% static 'bower_components/jQuery/dist/jquery.min.js' %}"></script>#}
    {#    <script type="text/javascript"#}
    {#            src="{% static 'bower_components/bootstrap-3.3.7/dist/js/bootstrap.min.js' %}"></script>#}
    <link rel="stylesheet" type="text/css" href="{% static 'patents/styles/rating.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'patents/styles/style.css' %}">
{% endblock %}

{% block nav %}
    {% include 'patents/includes/navbar_search.html' %}
{% endblock %}

{% block body %}
    <div class="container prj-wapper" style="padding-top: 30px">
        {% if patent %}
            <div class="table table-filter">
                <div class="media">
                    <div class="media-body">
                        <h4 class="title"><span>{{ patent.title }}</span></h4>
                    </div>
                </div>
            </div>
            <h6 class="tt-tags" style="border-bottom: 1px solid #eee;">
                <div class="float-right">
                    <span class="media-meta" data-toggle="tooltip" data-placement="top">
                        <i class="fa fa-eye" aria-hidden="true">Views: {{ patent.view }}</i>
                    </span>
                </div>
                {% comment %}
                    Download section
                {% endcomment %}
                <div class="float-left">
                    <span class="media-download" data-placement="top">
                         <a class="fa fa-download" aria-hidden="true" style="margin-right:5px;"
                            href="{% url 'patents:download' patent.id %}" download="">Tải về</a>
                    </span>
                </div>
            </h6>
            <h1>Search time {{ time }}</h1>
            <hr>
            <div class="pattens-item">
                <h3>#-Abstract</h3>
                <p style="white-space: pre-line">{{ patent.abstract }}</p>
                <h3>#-Content</h3>
                <p style="white-space: pre-line">{{ patent.content }}</p>
                <br>
            </div>
            <h6 class="tt-tags">
                <div class="float-right">
                    {% if user_rating %}
                        <div>
                            <h1>Your rating: {{ user_rating }}</h1>
                        </div>
                    {% else %}
                        <div>
                            <h1>No rating yet</h1>
                        </div>
                    {% endif %}
                    {% if request.session.user_id %}
                        <div id="reviewStars-input">
                            {% for title in rate_titles reversed %}
                                <input id="star-{{ forloop.revcounter0 }}"
                                       type="radio"
                                       name="reviewStars"
                                       value="{{ forloop.revcounter }}"
                                        {% if user_rating == forloop.revcounter %} checked="checked"{% endif %}/>
                                <label title="{{ title }}" for="star-{{ forloop.revcounter0 }}"></label>
                            {% endfor %}

                            <input type="hidden" name="pid" value="{{ patent.id }}">
                        </div>
                    {% endif %}
                </div>
                <div class="float-left">
                    {% include 'patents/includes/rating_summarize.html' %}
                </div>
            </h6>
        {% endif %}
    </div>
{% endblock %}